{% extends "layout.html" %}
{% block title %}Settings{% endblock %}
{% block head %}

<script type="text/javascript" charset="utf-8">
	$(document).ready(function () {
		var started = false;
		var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

    socket.on('graph_update', function (msg) {
                      // receive graph information update
											graph=msg
											var graph_plugin={ afterRender:function(chart,options){
												socket.emit('graph_rendered')
											}};
											var ctx1 = document.getElementById("vtx-graph1").getContext('2d');
											var graph1 = new Chart(ctx1,{
												type:'line',
												plugins:[graph_plugin],
												data:{

													labels:msg.graph1.labels,
													datasets:[{data:msg.graph1.data,fill:false,label:"VTX 1",borderColor: "{{graphcolors['graph-1']}}",backgroundColor:"{{graphcolors['graph-1']}}"}]

												} ,
												options:{
													animation:{
														duration:0
													},
													tooltips:{
														enabled:false
													},
													elements:{
														point:{radius:0},
														line:{tension:0}
													},
													scales:{
														yAxes: [{
            											ticks: {
                											min: 0,
																			max: 3000

            										}
        												}]

													}


												}

											});


											var ctx2 = document.getElementById("vtx-graph2").getContext('2d');
											var graph2 = new Chart(ctx2,{
												type:'line',
												plugins:[graph_plugin],
												data:{
													labels:msg.graph2.labels,
													datasets:[{data:msg.graph2.data,fill:false,label:"VTX 2",borderColor: "{{graphcolors['graph-2']}}",backgroundColor:"{{graphcolors['graph-2']}}"}]

												} ,
												options:{
													animation:{
														duration:0
													},
													tooltips:{
														enabled:false
													},
													elements:{
														point:{radius:0},
														line:{tension:0}
													},
													scales:{
														yAxes: [{
																	ticks: {
																			min: 0,
																			max: 3000

																}
																}]

													}

												}

											});



											var ctx3 = document.getElementById("vtx-graph3").getContext('2d');
											var graph3 = new Chart(ctx3,{
												type:'line',
												plugins:[graph_plugin],
												data:{
													labels:msg.graph3.labels,
													datasets:[{data:msg.graph3.data,fill:false,label:"VTX 3",borderColor: "{{graphcolors['graph-3']}}",backgroundColor:"{{graphcolors['graph-3']}}"}]

												} ,
												options:{
													animation:{
														duration:0
													},
													tooltips:{
														enabled:false
													},
													elements:{
														point:{radius:0},
														line:{tension:0}
													},
													scales:{
														yAxes: [{
																	ticks: {
																			min: 0,
																			max: 3000

																}
																}]

													}

												}

											});

											var ctx4 = document.getElementById("vtx-graph4").getContext('2d');
											var graph4 = new Chart(ctx4,{
												type:'line',
												plugins:[graph_plugin],
												data:{
													labels:msg.graph4.labels,
													datasets:[{data:msg.graph4.data,fill:false,label:"VTX 4",borderColor: "{{graphcolors['graph-4']}}",backgroundColor:"{{graphcolors['graph-4']}}"}]

												} ,
												options:{
													animation:{
														duration:0
													},
													tooltips:{
														enabled:false
													},
													elements:{
														point:{radius:0},
														line:{tension:0}
													},
													scales:{
														yAxes: [{
																	ticks: {
																			min: 0,
																			max: 3000,

																}
																}]

													}

												}

											});

                });
	$('.set_play li a').click(function (event) {
   socket.emit('start');
	 started = ! started;
   if (started)
		 $('#start').attr("class","glyphicon glyphicon-pause ​glyphicon-align-center");
	 else
	   $('#start').attr("class","glyphicon glyphicon-play ​glyphicon-align-center");
	});
});
</script>
{% endblock %}

{% block content %}


	<table class="table">
	<tr>
  <td width="50%"><canvas id="vtx-graph1" width="400" height="300" ></canvas></td>
  <td width="50%"><canvas id="vtx-graph2" width="400" height="300"></canvas></td>
  </tr>
	<tr>
	<td width="50%"><canvas id="vtx-graph3" width="400" height="300"></canvas></td>
	<td width="50%"><canvas id="vtx-graph4" width="400" height="300"></canvas></td>
	</tr>
</table>

{% endblock %}
