<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="VTX Analyser">
	<title>{% block title %}{% endblock %} - VTX Analyser</title>

	<!-- Script libraries -->
	<script type="text/javascript" src="./static/jquery-3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="./static/socket.io-1.3.5/socket.io.min.js"></script>
  <script type="text/javascript" src="./static/Chart.min.js"></script>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="./static/bootstrap-3.3.7/css/bootstrap.min.css"></link>
	<script type="text/javascript" src="./static/bootstrap-3.3.7/js/bootstrap.min.js"></script>

	<!-- Child template head content -->
	{% block head %}{% endblock %}
</head>

<body>
	<!--Navigation-->
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<span class="navbar-brand" href="#"> VTX Analyzer </span>
			</div>

				<ul class="nav navbar-nav">
					<li><a href="/">Analyser</a></li>
					<li><a href="/settings">Settings</a></li>
			 </ul>
				 {%if main%}
			<ul class="nav navbar-nav navbar-right set_play" >
			  <li><a role="button"><span class="glyphicon glyphicon-play ​glyphicon-align-center " id="start"></span></a></li>
			</ul>
			 {%endif%}
			</div>

	</nav>

	<!--Main content-->
	<div class="container">
		<!--Child template content-->
		{% block content %}{% endblock %}
	</div>

</body>

</html>
