{% extends "layout.html" %}
{% block title %}Settings{% endblock %}
{% block head %}
<link rel="stylesheet" media="screen" type="text/css" href="./static/colorpicker/css/colorpicker.css" />
<script type="text/javascript" src="./static/colorpicker/js/colorpicker.js"></script>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function () {
		var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
		$('[graph_color]').ColorPicker({
			 flat: false,
			 onSubmit: function(hsb, hex, rgb, el) {
		$(el).val(hex);
		$(el).html(hex);
		$(el).ColorPickerHide();
		$(el).css('backgroundColor', '#' + hex);
    var data = {
			    graph: $(el).data('graph'),
					color: hex
		}
		socket.emit("set_graph_color",data)
	}

  });

		$('.set_serial_port li a').click(function (event) {
			var data = {
		   							port: $(this).data('port')
									};
			$('button#set_serial_port').html($(this).data('port'));
			socket.emit('set_serial_port', data);
		});
		$('.set_serial_baud li a').click(function (event) {
			var data = {
										baud: $(this).data('baud')
						  		};
			$('button#set_serial_baud').html($(this).data('baud'));
			socket.emit('set_serial_baud', data);
		});
		$('.set_serial_parity li a').click(function (event) {
			var data = {
										parity: $(this).data('parity')
						  		};
			$('button#set_serial_parity').html($(this).data('parity'));
			socket.emit('set_serial_parity', data);
		});
		$('.set_serial_stopbit li a').click(function (event) {
			var data = {
										stopbit: $(this).data('stopbit')
						  		};
			$('button#set_serial_stopbit').html($(this).data('stopbit'));
			socket.emit('set_serial_stopbit', data);
		});
		$('.set_serial_bytesize li a').click(function (event) {
			var data = {
										byte: $(this).data('byte')
						  		};
			$('button#set_serial_bytesize').html($(this).data('byte'));
			socket.emit('set_serial_bytesize', data);
		});
		$('.set_frequency li a').click(function (event) {
			var data = {
				graph: parseInt($(this).data('graph')),
				frequency: parseInt($(this).data('frequency'))
			};
			socket.emit('set_graph_frequency', data);
			$('.channel_' + $(this).data('graph')).html($(this).data('channel')+' '+$(this).data('frequency'))

		});
		$('.set_bw li a').click(function (event) {
			var data = {
				graph: parseInt($(this).data('graph')),
				bw: parseInt($(this).data('bw'))
			};
			socket.emit('set_graph_bw', data);
			$('.bw_' + $(this).data('graph')).html($(this).data('bw'));

		});
		$('.set_step li a').click(function (event) {
			var data = {
				graph: parseInt($(this).data('graph')),
				step: parseInt($(this).data('step'))
			};
			socket.emit('set_graph_step', data);
			$('.step_' + $(this).data('graph')).html($(this).data('step'));

		});

		});
</script>
{% endblock %}

{% block content %}

<h4>Serial ports</h4>
<div class="well">
<div> Serial Port:
<div class="btn-group">
	<button class="btn btn-default dropdown-toggle" id="set_serial_port" type="button" data-toggle="dropdown" aria-haspopup="true"
	 aria-expanded="true"> {{current_port}}</button>
	<ul class="dropdown-menu set_serial_port">
		{% for port in ports %}
		<li><a role="button" data-port="{{ port }}"> {{ port }} </a></li>
		{% endfor %}
	</ul>
</div>
</div>

<div> Baud rate:
	<div class="btn-group">
		<button class="btn btn-default dropdown-toggle" id="set_serial_baud" type="button" data-toggle="dropdown" aria-haspopup="true"
		 aria-expanded="true"> {{current_baud}}</button>
		<ul class="dropdown-menu set_serial_baud">
			{% for baud in bauds %}
			<li><a role="button" data-baud="{{ baud }}"> {{ baud }} </a></li>
			{% endfor %}
		</ul>
	</div>
</div>
<div> Byte Size:
	<div class="btn-group">
		<button class="btn btn-default dropdown-toggle" id="set_serial_bytesize" type="button" data-toggle="dropdown" aria-haspopup="true"
		 aria-expanded="true"> {{current_bytesize}}</button>
		<ul class="dropdown-menu set_serial_bytesize">
			{% for byte in bytes %}
			<li><a role="button" data-byte="{{ byte  }}"> {{ byte }} </a></li>
			{% endfor %}
		</ul>
	</div>
</div>
<div> Parity:
	<div class="btn-group">
		<button class="btn btn-default dropdown-toggle" id="set_serial_parity" type="button" data-toggle="dropdown" aria-haspopup="true"
		 aria-expanded="true"> {{current_parity}}</button>
		<ul class="dropdown-menu set_serial_parity">
			{% for parity in parities %}
			<li><a role="button" data-parity="{{ parity }}"> {{ parity }} </a></li>
			{% endfor %}
		</ul>
	</div>
</div>
<div> Stop Bit:
	<div class="btn-group">
		<button class="btn btn-default dropdown-toggle" id="set_serial_stopbit" type="button" data-toggle="dropdown" aria-haspopup="true"
		 aria-expanded="true"> {{current_stopbit}}</button>
		<ul class="dropdown-menu set_serial_stopbit">
			{% for stopbit in stopbits %}
			<li><a role="button" data-stopbit="{{ stopbit }}"> {{ stopbit }} </a></li>
			{% endfor %}
		</ul>
	</div>
</div>
</div>
<h4> Grapĥs </h4>
<div class="well">
	<div class="row">
		{% for graph in range(num_graph) %}
		<div class='col-xs-8 col-sm-4 col-md-2'>
			<div class='panel panel-default'>
				<div class="panel-heading">
					<h4 class="panel-title">Graph {{ graph + 1 }}</h4>
				</div>
				<table class="table">
					<tr>
						<td colspan="2">
							C Freq:
							<!--Need to have two drop downs, band and frequency, one drop is long of a list-->
							<div class="btn-group">
								<button class="btn btn-default dropdown-toggle channel_{{ graph+1 }}" type="button" data-toggle="dropdown" aria-haspopup="true"
								 aria-expanded="true">{{graph_central_frequencies[graph]}}</button>
								<ul class="dropdown-menu set_frequency">
									{% for frequency in frequencies.query.all() %}
									<li><a role="button" data-graph="{{ graph+1 }}" data-channel='{{ frequency.channel }}' data-frequency="{{ frequency.frequency }}">{{ frequency.channel }} {{ frequency.frequency }}</a></li>
									{% endfor %}
								</ul>
							</div>
						</td>

					</tr>
					<tr>
						<td colspan="2">
							Color:
							<!--Need to have two drop downs, band and frequency, one drop is long of a list-->
							<button class="btn btn-default " type="button" aria-haspopup="true" data-graph="{{graph+1}}" style="background-color:{{current_colors[graph]}};"
							 aria-expanded="true" graph_color="">{{current_colors[graph]}}</button>
  					</td>
					</tr>
			</table>
			</div>
		</div>
		{% endfor %}
	</div>

</div>


{% endblock %}
